# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
altair=5.5.0=pypi_0
attrs=25.3.0=pypi_0
blinker=1.9.0=pypi_0
bzip2=1.0.8=h80987f9_6
ca-certificates=2025.2.25=hca03da5_0
cachetools=6.1.0=pypi_0
certifi=2025.7.14=pypi_0
charset-normalizer=3.4.2=pypi_0
click=8.2.1=pypi_0
expat=2.7.1=h313beb8_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
idna=3.10=pypi_0
jinja2=3.1.6=pypi_0
jsonschema=4.25.0=pypi_0
jsonschema-specifications=2025.4.1=pypi_0
libcxx=17.0.6=he5c5206_4
libffi=3.4.4=hca03da5_1
markupsafe=3.0.2=pypi_0
narwhals=1.47.1=pypi_0
ncurses=6.4=h313beb8_0
numpy=2.3.1=pypi_0
openssl=3.0.16=h02f6b3c_0
packaging=25.0=pypi_0
pandas=2.3.1=pypi_0
patsy=1.0.1=pypi_0
pillow=11.3.0=pypi_0
pip=25.1=pyhc872135_2
plotly=6.2.0=pypi_0
plotly-express=0.4.1=pypi_0
protobuf=6.31.1=pypi_0
pyarrow=21.0.0=pypi_0
pydeck=0.9.1=pypi_0
python=3.12.11=h421de30_0
python-dateutil=2.9.0.post0=pypi_0
pytz=2025.2=pypi_0
readline=8.2=h1a28f6b_0
referencing=0.36.2=pypi_0
requests=2.32.4=pypi_0
rpds-py=0.26.0=pypi_0
scipy=1.16.0=pypi_0
setuptools=78.1.1=py312hca03da5_0
six=1.17.0=pypi_0
smmap=5.0.2=pypi_0
sqlite=3.50.2=h79febb2_1
statsmodels=0.14.5=pypi_0
streamlit=1.47.0=pypi_0
tenacity=9.1.2=pypi_0
tk=8.6.14=h6ba3021_1
toml=0.10.2=pypi_0
tornado=6.5.1=pypi_0
typing-extensions=4.14.1=pypi_0
tzdata=2025.2=pypi_0
urllib3=2.5.0=pypi_0
wheel=0.45.1=py312hca03da5_0
xz=5.6.4=h80987f9_1
zlib=1.2.13=h18a0788_1
